# Jupyter Notebooks
**Jupyter** notebooks are commonly used to combine Markdown and Python into a single file. For example, this file is a notebook file! Imagine a blog post where you can talk about your thought process, show your code, and also let readers run the code.

The great things about cells is that you can run specific sections of code at a time. You can also quickly see the return values of each cell without running the entire file.

In [2]:
# Try running this cell!
print("Hello, World")

Hello, World

# Pandas

1. What happens when you run the code below? Make sure you change the path to point to where `penguins.csv` is stored on your own computer.

In [4]:
# We're going to work with a new library called pandas
import pandas as pd

penguins = pd.read_csv("../docs/penguins.csv")
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
337,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
338,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
339,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
340,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
341,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

2. What happens when you run the code below? Add a cell block to access the column for species.

In [5]:
penguins["bill_length_mm"], penguins["species"]

(0      39.1
 1      39.5
 2      40.3
 3      36.7
 4      39.3
        ...
 337    55.8
 338    43.5
 339    49.6
 340    50.8
 341    50.2
 Name: bill_length_mm, Length: 342, dtype: float64,
 0         Adelie
 1         Adelie
 2         Adelie
 3         Adelie
 4         Adelie
          ...
 337    Chinstrap
 338    Chinstrap
 339    Chinstrap
 340    Chinstrap
 341    Chinstrap
 Name: species, Length: 342, dtype: object)

3. What happens when you run the code below? Add a cell block to list all Adelie penguins.

In [6]:
penguins[penguins["species"] == "Gentoo"], penguins[penguins["species"] == "Adelie"]

(    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 151  Gentoo  Biscoe            46.1           13.2              211.0
 152  Gentoo  Biscoe            50.0           16.3              230.0
 153  Gentoo  Biscoe            48.7           14.1              210.0
 154  Gentoo  Biscoe            50.0           15.2              218.0
 155  Gentoo  Biscoe            47.6           14.5              215.0
 ..      ...     ...             ...            ...                ...
 269  Gentoo  Biscoe            47.2           13.7              214.0
 270  Gentoo  Biscoe            46.8           14.3              215.0
 271  Gentoo  Biscoe            50.4           15.7              222.0
 272  Gentoo  Biscoe            45.2           14.8              212.0
 273  Gentoo  Biscoe            49.9           16.1              213.0

      body_mass_g     sex  year
 151       4500.0  female  2007
 152       5700.0    male  2007
 153       4450.0  female  2007
 154       5700.0    male  2007
 155       5400.0    male  2007
 ..           ...     ...   ...
 269       4925.0  female  2009
 270       4850.0  female  2009
 271       5750.0    male  2009
 272       5200.0  female  2009
 273       5400.0    male  2009

 [123 rows x 8 columns],
     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
 0    Adelie  Torgersen            39.1           18.7              181.0
 1    Adelie  Torgersen            39.5           17.4              186.0
 2    Adelie  Torgersen            40.3           18.0              195.0
 3    Adelie  Torgersen            36.7           19.3              193.0
 4    Adelie  Torgersen            39.3           20.6              190.0
 ..      ...        ...             ...            ...                ...
 146  Adelie      Dream            36.6           18.4              184.0
 147  Adelie      Dream            36.0           17.8              195.0
 148  Adelie      Dream            37.8           18.1              193.0
 149  Adelie      Dream            36.0           17.1              187.0
 150  Adelie      Dream            41.5           18.5              201.0

      body_mass_g     sex  year
 0         3750.0    male  2007
 1         3800.0  female  2007
 2         3250.0  female  2007
 3         3450.0  female  2007
 4         3650.0    male  2007
 ..           ...     ...   ...
 146       3475.0  female  2009
 147       3450.0  female  2009
 148       3750.0    male  2009
 149       3700.0  female  2009
 150       4000.0    male  2009

 [151 rows x 8 columns])

You have been working with the **Dataframe** class that is provided by the `pandas` module! As you can see, Dataframes allow you to quickly store and access tabular information.

4. Add a cell block that _describes_ the flipper length of all penguins.

In [16]:
penguins["flipper_length_mm"].describe()

count    342.000000
mean     200.915205
std       14.061714
min      172.000000
25%      190.000000
50%      197.000000
75%      213.000000
max      231.000000
Name: flipper_length_mm, dtype: float64

In [13]:
penguins[penguins["species"] == "Gentoo"]["bill_length_mm"].describe()

count    123.000000
mean      47.504878
std        3.081857
min       40.900000
25%       45.300000
50%       47.300000
75%       49.550000
max       59.600000
Name: bill_length_mm, dtype: float64